.doneTask {
	color:#5f5f5f
}

.taskNameInput {
	margin-right: 1em;
	border-radius: 4px;
	height: 25px!important;
}

.taskButton {
	margin-right:3px;
	background-color: rgb(38,38,38)!important;
	box-shadow: none!important;
	max-width:30px;
}
.taskButton:hover, .pointsButton:hover{
	background-color: rgb(55,55,55)!important;
}

.pointsButton {
	margin-right:3px;
	background-color: rgb(38,38,38)!important;
	box-shadow: none!important;
	max-width:30px;
}

.activePointsButton {
	margin-right:3px;
	background-color: rgb(55,55,55)!important;
	box-shadow: none!important;
	max-width:30px;
}

.activePointsButton:hover {
	background-color: rgb(75,75,75)!important;
}
